<!DOCTYPE html>
<html>
<head>
	<title>Apartment Manager</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	
</head>
<body>

<div class="container">
	<h1>Apartment Management System</h1>
	<hr />

	<div class="margin-top-20">
		<a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-tenant">Add Tenant</a>
	</div>

	<table class="table table-striped margin-top-20">
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Property Rented</th>
			<th>Action</th>
		</thead>
		<tbody>
			<% for (var i=0; i <allTenants.length; i++) { %>
				<tr>
					<td><%= allTenants[i].first_name%></td>
					<td><%= allTenants[i].last_name%></td>
					<td><%= oneManager.property%></td>
					<td><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#maint">Maintenance Requests</a></td>
					<td><a href="#" class="edit btn btn-primary" data-toggle="modal" data-target="#edit" data-firstname="<%= allTenants[i].first_name %>" data-lastname="<%= allTenants[i].last_name %>" data-tenantid="<%= allTenants[i].id %>">Edit Tenant</a></td>
				</tr>
			<% } %>
		</tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="maint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Maintenance Requests</h4>
			</div>
			<div class="modal-body">
				<table class="table">
					<tr>
						<td>Fix water heater</td>
						<td><a href="#" class="btn btn-danger btn-xs">Delete</a></td>
					</tr>
					<tr>
						<td>Fix water heater</td>
						<td><a href="#" class="btn btn-danger btn-xs">Delete</a></td>
					</tr>
					<tr>
						<td><input type="text" class="form-control" placeholder="Add Maintenance Request" /></td>
						<td><a href="#" class="btn btn-success">Add Request</a></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--/Modal-->

<!-- Modal -->
<div class="modal fade" id="add-tenant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Add a Tenant</h4>
			</div>
			<form method="post" action="/tenants/<%= manager_id %>">
				<div class="modal-body">
					<h4>First Name</h4>
					<div class="margin-top-20">
						<input name="firstname" class="form-control" placeholder="Tenant First Name" />
					</div>
					<h4 class="margin-top-20">Last Name</h4>
					<div class="margin-top-20">
						<input name="lastname" class="form-control" placeholder="Tenant Last Name" />
					</div>
					<h4 class="margin-top-20">Property Rented</h4>
					<div class="margin-top-20">
						<select class="form-control" id="tenant-prop-select">
							<option id="id" value="<%= i%>"><%= oneManager.property %></option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="save-tenant" type="submit" class="btn btn-primary">Save Tenant</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--/Modal-->

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Tenant</h4>
			</div>
		<form id="editForm" method="post" action="">
			<div class="modal-body">
				<h4>First Name</h4>
				<div class="margin-top-20">
					<input id="tenantfirst" name="firstname" class="form-control" placeholder="<%=allTenants.first_name%>" />
				</div>
				<h4 class="margin-top-20">Last Name</h4>
				<div class="margin-top-20">
					<input id="tenantlast" name="lastname" class="form-control" placeholder="<%=allTenants.last_name%>" />
				</div>
			</div>
		</form>
			<div class="modal-footer">
			<form id="deleteForm" method="post" action="">
				<button id="delete-tenant" type="submit" form="deleteForm" class="btn btn-danger" style="float: left">Delete Tenant</button>
			</form>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button form="editForm" id="save-tenant" type="submit" class="btn btn-primary">Save Changes</button>
			</div>
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript"> 
	$(document).on("click", ".edit", function () {

	     var firstname = $(this).data('firstname');
	     $(".modal-body #tenantfirst").val( firstname );
	     console.log(firstname);
	     var lastname = $(this).data('lastname');
	     $(".modal-body #tenantlast").val( lastname );
	     var tenantId = $(this).data('tenantid');
	     $(".modal-body #tenantid").val( id );
	     $("#editForm").attr('action', '/tenants/<%= manager_id %>/' + tenantId + '?_method=put');
	     $("#deleteForm").attr('action', '/tenants/<%= manager_id %>/' + tenantId + '?_method=delete');
	});
// </script>

</body>
</html>
